.button {
  cursor: pointer;
  min-height: 30px;
  padding: 4px 8px;
  border: 2px solid hsl(0, 0%, 80%);
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  font-weight: 600;
}

.button:disabled {
  cursor: default;
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 90%);
}

.button:hover {
  background-color: hsl(0, 0%, 90%);
}
