.headerContainer {
  position: sticky;
  top: 0;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 6px hsl(0, 0%, 80%);
}

.header {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.navigation {
  flex: 1;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.main {
  padding: 16px;
}
